*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .inter-font-style {
  font-family: "Inter", sans-serif;
  
}
header nav{
    padding: 16px 0;
}
 .size-adjust {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
nav .display-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .display-set img{
    max-width: 139px;
}
nav .display-set ul{
display: flex;
gap: 32px;
list-style: none;
}
 .btn{
   font-size: 16px;
   font-weight:600;
   color:#FFFFFF;
   background-color: #469165; 
   padding: 12.5px 16px;
   border-radius: 4px;
   border: none;
   cursor: pointer;
}
 .btn:hover{
    background-color: #1f4b32da;
    box-shadow: 5px 5px 10px #469165;

}
nav .display-set ul li a{
text-decoration: none;
font: size 16px;
font-weight: 500;
color: #000000;
}
/* banner */
header .banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 115.5px 120px 179.5px ;

}
header .banner .b-content{
    text-align: center;
    max-width: 780px;
}
header .banner .b-content #exception{
   background-color: white;
   font-size: 16px;
   font-weight: 500;
   color: #469165;
   border-radius: 20px;
   /* border:none; */
   padding: 8px 12px 8px 16px;
   border: none;
   margin-bottom: 16px;
   display: flex;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   
   
}
header .banner .b-content #circle{
    /* display: inline; */
    background-color:#469165;
    width: 7px;
    height: 7px;
    border-radius:50%;
    margin-right:10px;

    box-shadow: 0px 0px 0px 3.5px #cde3d9,0px 0px 0px 6px #e9ecef;
    /* box-shadow:  0 0 20px #9ec5b5,
    0 0 0 45px #cde3d9,
    0 0 0 75px #e9ecef; */
    
}
header .banner .b-content h1{
    font-size: 72px;
    font-weight: bold;
    color:#30B868;
    line-height: 84px;
}

.b-content h1 span{
    color:white;
}
header .banner .b-content p{
    margin-top: 16px;
    margin-bottom: 32px;
}
.share-p{
 font-size: 18px;
 font-weight:400;
 line-height: 28px;
  color:#FFFFFF;
}
header .banner .b-content .btn-group{
    display: flex;
    justify-content: center;
}

header .banner .b-content .banner-btn{
display: flex;
align-items: center;
justify-content: center;
gap: 13px;

}
header .banner .b-content .banner-btn:hover{
     background-color: transparent;
    border: 1px solid white;
}
header .banner .b-content .btn-2{
    font-size: 16px;
    font-weight: 600;
    padding: 16.5px 16px;
    color :white;
    margin-left: 16px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px; 
    cursor: pointer;
}
header .banner .b-content .btn-2:hover{
      background-color: #469165; 
      border:none;
       box-shadow: 5px 5px 15px #469165;
}
/* main */
main .notes {
    padding: 100px 120px 0;
    background-color: #f0f1f190;
}
.notes .notes-content{
    text-align: center;
}
.notes .notes-content h1{
    margin-bottom: 16px;
}
.heading{
    font-size: 48px;
    font-weight: bold;
}
.notes .notes-content p{
    margin-bottom: 44px;
}
.paragraph{
    font-size: 16px;
 font-weight:400;
 color: #627382;
}
.notes .notes-content .card-group{
    display: flex;
    gap:24px;
}
.card-group .card{
    max-width: 322px;
    border-radius: 8px;
    padding: 0 10px;
    background-color:#FFFFFF;
    border: none;
    box-shadow: 0 0 8 0 #000000c5;
}

.card .notes-circle{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display:inline-block;
    padding-top: 15px;
    margin-bottom: 16px;
    margin-top: 55px;

}
.card  h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p{
    line-height:20px ;
}
/* solution */
main .solution{
    padding: 120px;
}
.solution .solution-content{
    display: flex;
    gap:60px;
    align-items: center;

}
.solution-content img{
    max-width: 600px;
    border-radius: 12px;
}
.solution-content .description{
    margin: 102px 0;
}
.solution-content .description a{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    text-decoration: none;
    color: #469165;

}
.solution-content .description h2{
    margin-bottom: 16px;
}
.solution-content .description p{
    line-height: 20px;
    margin-bottom: 40px;
}
.solution-content .description ul li{
    list-style: none;
    font-size: 16px;
    font-weight:500;
    color: #001931;
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

/* ready */
main .ready{
    padding-bottom: 120px;
}
main .ready .ready-content{
    background-color: #F7F6F2;
    border-radius: 12px;
    padding:80px 40px ;
    text-align: center;
}
.ready .ready-content h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.ready .ready-content p{
    line-height: 24px;
  
}
.ready .ready-content .btn-ready{
    display: inline-flex;
align-items: center;
justify-content: center;
gap: 13px;
box-shadow: 0 10 20 0 #00000077;
margin-top: 24px;
margin-bottom: 16px;
}
/* footer */
footer{
    background-color: #001931;
    padding: 120px 0 30px;

}
footer .footer-part{
    text-align: center;
}
footer .footer-part .footer-social{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 80px;
}
footer .footer-part hr{
   border: none;
  height: 1px;
  background-color: #627382;
  margin-bottom: 30px;
}
footer .footer-part p{
    color: #FAFAFA;
}
.footer-social .social h4{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
.footer-social .social .icons{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.footer-social .social .icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#FFFFFF;
    color:black;
    text-decoration: none;
    
} 
.footer-social .social .icons a i{
    font-size: 12px;
}


