*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .inter-font-style {
  font-family: "Inter", sans-serif;
  
}
header nav{
    padding: 16px 0;
}
header nav .size-adjust {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
nav .display-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .display-set img{
    max-width: 139px;
}
nav .display-set ul{
display: flex;
gap: 32px;
list-style: none;
}
nav .display-set .btn{
   font-size: 16px;
   font-weight:600;
   color:#FFFFFF;
   background-color: #469165; 
   padding: 12.5px 16px;
   border-radius: 4px;
   border: none;
   cursor: pointer;
}
nav .display-set .btn:hover{
    background-color: #1f4b32da;
    box-shadow: 5px 5px 10px #469165;

}
nav .display-set ul li a{
text-decoration: none;
font: size 16px;
font-weight: 500;
color: #000000;
}


